
# Rust
/target/
/release/
**/*.rs.bk
Cargo.lock

# Node / Web
node_modules/
dist/
.DS_Store

# Tauri
crates/cm_gui/src-tauri/target/
crates/cm_gui/src-tauri/gen/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# Game Data
/saves/
/assets/data/generated/
